$main-color: #ff5448;
$main-hover-color: #fcc1c1;
$white-color: #fff;
$background-color: #ffe0e0;


//set variable for getbase framework
$base-button-border-color: $main-color;
$base-button-color: $white-color;
$base-button-background-color: $main-color;
$base-button-hover-color: $white-color;
$base-button-hover-background-color: $main-hover-color;
$base-button-active-background-color: $main-color;