
@import "./_variable";
@import "~@getbase/base/scss/index";
@import "~@getbase/containers/scss/index";
@import "~@getbase/buttons/scss/index";
@import "~@getbase/forms/scss/index";

.layout {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-top: 80px;
}

body {
    background: $background-color;
    font-family: 'Arial';
}

.button {
    border-radius: 4px;
    text-align: center;

    &.button-sm {
        padding: 8px 14px;
    }

    &:hover {
        border: solid 1px $main-hover-color;
    }
}

.button-rounded {
    padding: 6px 12px;
    text-decoration: none;
    text-align: center;
    color: white;
    background: gray;
    border-radius: 19px;
    min-width: 100px;
    display: inline-block;
    font-size: 12px;
}

.wrapper {
    width: 100%;
    padding: 10px;
}

h1 {
    margin: 0px;
    font-size: 1.5em;
}

h2 {
    font-size: 1em;
}

[type="text"]:focus, [type="email"]:focus, [type="password"]:focus, [type="tel"]:focus, [type="number"]:focus, [type="date"]:focus, [type="search"]:focus {
  background: transparent;
}


